/* Estilizando o corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    margin: 0;
    background-color: #f2f2f2; /* Cor de fundo para contraste com a sombra */
  }
  
  /* Estilizando a div principal */
  div {
    background-color: #fff; /* Cor de fundo do conteúdo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra suave */
    text-align: center;
  }
  
  /* Estilizando o formulário */
  form {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Estilizando o campo de usuário */
  label[for="login"],
  input[type="text"] {
    display: block;
    margin-bottom: 15px; /* Adiciona espaço entre o campo de usuário e a próxima etiqueta */
  }
  
  /* Estilizando o campo de senha */
  label[for="password"],
  input[type="password"] {
    display: block;
    margin-bottom: 15px; /* Adiciona espaço entre o campo de senha e o botão de login */
  }
  
  /* Estilizando o link "Home" */
  a {
    text-decoration: none;
    color: #333; /* Cor padrão do link */
    transition: color 0.3s; /* Transição suave de cor durante 0.3 segundos */
  }
  
  /* Estilizando o link "Home" quando passar o mouse sobre ele */
  a:hover {
    color: #ffcc00; /* Cor alterada no hover */
  }
  
  /* Estilizando o botão de login */
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Transições suaves para cor de fundo e texto */
  }
  
  /* Estilizando o botão de login ao passar o mouse sobre ele */
  input[type="submit"]:hover {
    background-color: #ffcc00; /* Cor de fundo alterada no hover */
    color: #000; /* Cor do texto alterada no hover */
  }
  
