<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho André</title>
</head>
<body>
    <nav>
        <h1>Titulo</h1>
        <a href="http://localhost:8081/login"><h3>login</h3></a>
    </nav>
    <section>
        <label for="txtPesquisa">Pesquisar:</label>
        <input type="text" id="txtPesquisa">
        <button><img src="/imgs/procurar.png"></button>
    </section>
    <h2>Destaques</h2>
    <section id="destaques">
        
        
    </section>
    <h2>Os mais curtidos</h2>
    <section id="curtidos">
        

    </section>
</body>
</html>
