<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Artigo</title>
</head>
<body>
    <h1>Criar Novo Artigo</h1>
    <a href="http://localhost:8081/">Home</a>
    <form method="POST">
        <label for="author_name">Nome:</label>
        <input type="text" id="author_name" name="author_name" required><br>

        <label for="author_email">Email:</label>
        <input type="text" id="author_email" name="author_email" required><br>

        <label for="author_user">Nome de Usuario:</label>
        <input type="text" id="author_user" name="author_user" required><br>

        <label for="author_pwd">Senha do Usuario:</label>
        <input type="text" id="author_pwd" name="author_pwd" required><br>

        <label for="author_level">Escolha o nivel de acesso:</label>
        <select id="author_level" name="author_level">
            <option value="user">user</option>
            <option value="admin">admin</option>
        </select><br>

        <input type="submit" value="Cadastrar">
    </form>

    <h1>Usuarios</h1>
    <% user.forEach(user => { %>
        
        <h3> <%= user.author_name %></h3>
        
        <h4> ativo: <%= user.author_status %></h4>
        <button>Desativar/Ativar usuario</button>
        <button>Deletar usuario</button>

    <% }) %>
</body>
</html>
